        * {
           box-sizing: border-box;
           margin: 0;
           padding: 0;
    } 
        .container {
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            row-gap: 20px;
 }
        .h1 {
            font-family: 'PT Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 23px;
            text-align: left;
            color: brown;
            font-weight: bold;
     
    }
        .header-img {
            width: 100px;
            border-radius: 20px  45px;
          } 
        .header {
            color: brown;
            font-weight: bold;
            font-family: Verdana, Arial, Helvetica, sans-serif; 
            font-size: 11pt;
            margin: 15px 25px 35px 45px
        }
       .header-row {
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
            width: 100%;
        }
        .image {
            width: 300px;
            height: 200px; 
            object-fit: cover; 
}
       .container {
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            row-gap: 20px;
            justify-content: space-between;
}
       .item {
            width: 350px;
            height: 300px;
            border: 0;
            border-radius: 10px;
            background-color: white;
            display: flex;
            flex-direction: column;
            padding: 10px;
            box-shadow: 5px 5px 10px grey;
        }
        .product-description {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            height: 60px;
        }
        .button {
            display: block;
            margin: auto;
            width: 100px;
            height: 40px;
            border: none;
            border-radius: 5px;
            color: azure;
            background-color: rgb(191, 185, 185);
            margin-top: 15px;
        }
         
        .product_1 { 
            float:left;
            font-size: 11pt;
            margin: 15px 25px 35px 45px
        }
        .product_2 { 
            float:left;
            font-size: 11pt;
            margin: 15px 25px 35px 45px
        }
        .product_3 { 
            float:left;
            font-size: 11pt;
            margin: 15px 25px 35px 45px
        }
        .product_4 { 
            float:left;
            font-size: 11pt;
            margin: 15px 25px 35px 45px
        }
        .product_5 { 
            float:left;
            font-size: 11pt;
             margin: 15px 25px 35px 45px
        }
        .product_6 { 
            float: left;
            font-size: 11pt;
            margin: 15px 25px 35px 45px
        }
        .product_7 { 
            float:left;
            font-size: 11pt;
            margin: 15px 25px 35px 45px
        }
            .product_8 { 
            float:left;
            font-size: 11pt;
            margin: 15px 25px 35px 45px
        }   .footer {
               padding-top: 5%;
               padding-left: 5%;
               padding-bottom: 5%;
               display: flex;
               flex-wrap: wrap;
               justify-content: space-between;
               background-color: lightgray;
               border-radius: 20px;
        }
            .footer {
                padding-top: 5%;
                padding-left: 5%;
                padding-bottom: 5%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                background-color: lightgray;
                border-radius: 20px;
        }
            div.social {
                justify-content: space-around;
            }
            button.social {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: none;
                background-color: rgb(174, 167, 167);
            }
            div.contacts {
                display: flex;
                flex-direction: column;
                justify-content: stretch;
                padding-right: 50px;
            
            }
            a.contacts {
                text-decoration: none;
                font-size: 14px;
                font-weight: 500;
                color: grey;
                padding: 7px;
            }
         